body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
}

#head{
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.column{
  width: calc(100% - 30px);
  max-width: 400px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}


.add-task-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  /* Adjust padding to make 
  the button smaller */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  /* Decrease font size */
  border-radius: 5px;
  /* Adjust border radius 
  for a softer look */
  cursor: pointer;
  transition: background-color 0.3s;
}